<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/statics/form.css">
    <title>Document</title>
</head>
<body>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Register Today</h3>
                        <p>Fill in the data below.</p>
                        <form enctype="multipart/form-data" action="/houseInfo" method="post">
                            <div class="col-md-12">
                               <input type="text" name="name" placeholder="房間名稱" required>
                          
                            </div><br>

                            <div class="col-md-12">
                                <input type="text" name="price" placeholder="$房間價格" required>
                                
                            </div><br>


                           <div class="col-md-12">
                              <textarea  type="text" name="description" placeholder="description" rows="7" maxlength="700"></textarea>
                   
                           </div><br>
                           <div>
                               Image 
                          <input accept="image/*" type='file' id="imgInp" name="image" onchange="loadFile(event)"/>
                          <img id="blah" src="/images/Room1.jpg" alt="" width="300px" height="300px">
                           </div>

                  

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">增新房間</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        imgInp.onchange = evt => {
            const [file] = imgInp.files
            var name = document.getElementById("preview")
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
    </script>
</body>
</html>